# Dépendances
node_modules/
.pnp
.pnp.js

# Variables d'environnement
.env
.env.local
.env.*.local

# Build
dist/
build/
.output/

# Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Divers
.cache/
.temp/
